/**
 * ***************************************
 * /* CSS
 * /******************************************
 *
 * @format
 */

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	/* margin: 0 auto auto 20px; */
	width: 200px;
	height: 200px;
	border-radius: 18%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
section {
	float: left;
	margin: 50px;
	align-content: center;
}
