/**
 * ***************************************
 * /* CSS
 * /******************************************
 *
 * @format
 */

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

main,
header,
h1,
#dateOfDay {
	align-content: center;
	text-align: center;
	padding-top: 12px;
}

main {
	background-color: aqua;
	height: auto;
}

header {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 10px;
	background-color: rgb(133, 122, 108);
	height: 60px;
	justify-content: space-evenly;
	margin: 30px auto;
	padding: 20px;
	border-radius: 12px;
}

input,
button {
	margin: auto;
}

footer {
	background-color: rgb(246, 249, 249);
	height: 30px;
	margin-top: 80px;
	text-align: center;
	margin-bottom: 0;
	color: black;
}
img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
section section {
	margin: 20px;
	align-content: center;
}
#dateOfDay h1 {
	text-align: center;
	justify-content: center;
}
.high {
	color: red;
	font-size: larger;
}

.medium {
	color: orange;
	font-size: larger;
}

.low {
	color: green;
	font-size: larger;
}
.item h3 {
	flex-basis: 100px;
	flex-direction: column;
	flex-grow: 1;
	margin: 0 auto;
	text-align: center;
}

container.body {
	display: flex;
}

p {
	color: darkgreen;
	padding-top: 20px;
	height: 40px;
}
body {
	display: flex;
	background-color: rgb(145, 228, 28);
	flex-direction: column;
	height: 80%;
}
.container {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.container2 {
	display: flex;
	justify-content: space-around;
	padding: 0 60px;
	/*	flex-direction: column;*/
}
