/**
 * ***************************************
 * /* CSS
 * /******************************************
 *
 * @format
 */

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	/* margin: 0 auto auto 20px; */
	width: 200px;
	height: 200px;
	border-radius: 18%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
section section {
	float: left;
	margin: 20px;
	align-content: center;
}
#dateOfDay h1 {
	text-align: center;
	/* padding-left: 350px; */
	justify-content: center;
	width: 50%;
}
.high {
	color: red;
	font-size: larger;
}

.medium {
	color: orange;
	font-size: larger;
}

.low {
	color: green;
	font-size: larger;
}
.container h3 {
	margin: 0 auto;
	text-align: center;
}
